---
import StudiesIcon from '../icons/StudiesIcon.astro'
import AboutMeIcon from '../icons/AboutMeIcon.astro'
import Studies from '../components/Studies.astro';
---
<h3 class="text-3xl pb-5 font-bold flex items-center gap-3"><AboutMeIcon class="size-8"/> Sobre Mí</h3>
<p>
  Mis primeras experiencias en programación fueron con arduino, participando de ferias de ciencias e incluso programando algunos robots. Además, enseñé en algunas escuelas los conceptos básicos del desarrollo en <span class="font-bold text-[#886ce4]">Arduino</span>👾.
</p> <br/>

<p>
  Aparte del desarrollo tengo diversos intereses como viajar, el trekking y tomar mucho mate🧉. Me encantan los rios y el <span class="text-green-300">verde</span>. Mi sueño es poder viajar, mientras trabajo de lo que me gusta.
</p> <br/>

<p>
  Actualmente, estoy cursando la carrera <span class="text-blue-300">"Tecnicatura Superior en Programación"</span>, en la que día a día enriquezco mas mis conocimientos📚.
</p>
<h3 class="text-3xl pb-10  pt-10 font-bold flex items-center gap-3"><StudiesIcon class="size-8"/> Estudios</h3>
<Studies/>
