---
import StudiesIcon from '../icons/StudiesIcon.astro'
import AboutMeIcon from '../icons/AboutMeIcon.astro'
import Studies from '../components/Studies.astro'
import CopyIcon from '../icons/CopyIcon.astro'
import Stack from './Stack.astro'
---

<h3 class="text-3xl pb-5 font-bold flex items-center gap-3">
  <AboutMeIcon class="size-8" /> Sobre Mí
</h3>
<div class="[&>p]:mb-4 text-pretty">
  <p>
    Mis primeras experiencias en programación fueron con arduino, participando
    de ferias de ciencias e incluso programando algunos robots. Además, enseñé
    en algunas escuelas los conceptos básicos del desarrollo en <span
      class="font-bold text-[#886ce4]">Arduino</span
    >👾.
  </p>

  <p>
    Aparte del desarrollo tengo diversos intereses como viajar, el trekking y
    tomar mucho mate🧉. Me encantan los rios y el <span class="text-green-300"
      >verde</span
    >. Mi sueño es poder viajar, mientras trabajo de lo que me gusta.
  </p>

  <p>
    Actualmente, estoy cursando la carrera <span class="italic text-blue-300"
      >"Tecnicatura Superior en Programación"</span
    >, en la que día a día enriquezco más mis conocimientos📚.
  </p>

  <p class="flex flex-wrap gap-2 w-full self-center bg-black/80 p-6 relative">
    <span class="text-violet-500">private </span>
    <span class="text-yellow-200/90">String</span><span class="italic">
      actualmente</span
    > = <span class="text-green-300"
      >'Perfeccionando el back con Spring Boot🤓'<span class="text-white"
        >;</span
      ></span
    >
    <span class="absolute top-0 left-0 pt-1 pl-6 text-sm text-white/70 italic"
      >Java</span
    >
    <buton
      onClick="copyText()"
      class="absolute flex flex-col items-end top-0 right-0 pt-1 pr-2 md:pr-6 text-sm cursor-pointer"
    >
      <CopyIcon class="size-5" /><span id="buton-copy"></span></buton
    >
  </p>
</div>
<Stack />
<h3 class="text-3xl pb-10 pt-10 font-bold flex items-center gap-3">
  <StudiesIcon class="size-8" /> Estudios
</h3>
<Studies />
<script is:inline>
  function copyText() {
    const code = "private String = 'Perfeccionando el back con Spring Boot🤓';"
    const btn = document.getElementById('buton-copy')
    navigator.clipboard
      .writeText(code)
      .then(() => {
        btn.innerText = 'Copiado'
        setTimeout(() => {
          btn.innerText = ''
        }, 1000)
      })
      .catch(err => {
        btn.innerText = 'Error al copiar'
        setTimeout(() => {
          btn.innerText = ''
        }, 1000)
      })
  }
</script>
