---
import MenuIcon from "../icons/MenuIcon.astro";
---

<header class="px-[8%] md:px-[15%] lg:px-[25%]">
  <nav class="hidden md:flex justify-between items-center w-full py-3">
    <a href="https://www.linkedin.com/in/maiten-oviedo/" target="_blank" rel="noopener noreferrer">
      <img class="rounded-full size-12" src="/assets/Me.webp" alt="Foto de Maitén">
    </a>
    <ul class="flex gap-x-5 text-xl opacity-80">
      <a href="#Projects" class="hover:text-yellow-200 transition-all">Proyectos</a>
      <a href="#About" class="hover:text-yellow-200 transition-all">Sobre mí</a>
      <a href="#Contact" class="hover:text-yellow-200 transition-all">Contacto</a>
    </ul>
  </nav>
  

  <nav class="md:hidden border-gray-200 px-[5%]">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-4">
      <a href="https://www.linkedin.com/in/maiten-oviedo/" target="_blank" rel="noopener noreferrer">
        <img class="rounded-full size-16" src="/assets/Me.webp" alt="Foto de Maitén">
      </a>
      <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <MenuIcon class="size-16"/>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li>
            <a href="#Projects" class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page">Proyectos</a>
          </li>
          <li>
            <a href="#About" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Sobre mí</a>
          </li>
          <li>
            <a href="#Contact" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>

<script>
  // Espera a que el DOM esté completamente cargado
  document.addEventListener('DOMContentLoaded', function () {
      // Selecciona el botón de la hamburguesa y el menú que se debe mostrar/ocultar
      const menuToggle = document.querySelector('[data-collapse-toggle="navbar-default"]');
      const navbarMenu = document.querySelector('#navbar-default');

      // Agrega un evento de clic al botón de la hamburguesa
      menuToggle.addEventListener('click', function () {
          // Toggle (alternar) la clase 'hidden' en el menú navbar para mostrarlo u ocultarlo
          navbarMenu.classList.toggle('hidden');
          
          // Ajusta el aria-expanded para la accesibilidad
          const expanded = navbarMenu.classList.contains('hidden') ? 'false' : 'true';
          menuToggle.setAttribute('aria-expanded', expanded);
      });
  });

</script>