<header class="flex justify-between items-center w-full p-3 px-[25%]">
  <a href="https://www.linkedin.com/in/maiten-oviedo/" target="_blank" rel="noopener noreferrer">
    <img class="rounded-full size-12" src="/assets/Me.jpg" alt="Foto de Maitén">
  </a>
  <nav>
    <ul class="flex gap-x-5 text-xl opacity-80">
      <a href="#">Home</a>
      <a href="#projects-section">Proyectos</a>
      <a href="#about-section">Sobre mí</a>
      <a href="#contact-section">Contact</a>
    </ul>
  </nav>
</header>
