<a 
  class="py-2 px-4 rounded-full border border-white/10 flex justify-center items-center gap-2 text-sm cursor-pointer bg-white/5 hover:scale-110 hover:bg-blue-400/10 transition" 
  {...Astro.props}
  target="_blank"
  rel="noopener no referrer"
>
  <slot>
</a>